.mainBlock {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  align-items: center;

  @media (max-width: 1200px) {
    flex-direction: column;
  }

  .title {
    @media(max-width: 1200px) {
      text-align: center;
    }

    h1 {
      text-transform: uppercase;
      font-size: 56px;
      line-height: 60px;
      background: linear-gradient(45deg, #ffffff 22%, #ff4c15 66%, #ff4c15);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      display: table;
      color: #fff;
      clip-path: polygon(0 100%, 0 0, 100% -4%, 96% 100%);
      font-family: MuseoSansCyrl700, sans-serif;

      @media (max-width: 1200px) {
        clip-path: polygon(0 100%, 0 0, 100%  0%, 100% 100%);
      }

      @media (max-width: 550px) {
        font-size: 40px;
        line-height: 44px;
      }
    }

    p {
      font-size: 25px;
      color: #fff;
      text-transform: uppercase;
      background: linear-gradient(45deg, #ffffff 22%, #ff4c15);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      display: table;
      font-family: MuseoSansCyrl300, sans-serif;

      @media (max-width: 1200px) {
        display: block;
      }

      @media (max-width: 550px) {
        font-size: 20px;
        line-height: 24px;
      }
    }
  }

  .buttonBlock {
    margin-top: 80px;
    position: relative;
    display: inline-block;

    @media (max-width: 1200px) {
      margin: 195px auto 0;
      display: block;
    }

    .leftBottom {
      width: 7px;
      height: 7px;
      position: absolute;
      left: -1px;
      bottom: -1px;
      border-left: 1px solid #fff;
      border-top: 1px solid #fff;
      transform: rotate(-90deg);

      @media (max-width: 1200px) {
        display: none;
      }
    }

    .rightTop {
      width: 7px;
      height: 7px;
      position: absolute;
      right: -1px;
      top: -1px;
      border-right: 1px solid #fff;
      border-top: 1px solid #fff;

      @media (max-width: 1200px) {
        display: none;
      }
    }

    .button {
      position: relative;
      text-align: center;
      color: #9d9d9f;
      width: 182px;
      height: 35px;
      font-size: 14px;
      border: 1px solid transparent;
      border-image: linear-gradient(285deg, #001929 10%, #00569d 50%, #095ea2 40%);
      -moz-border-image: -moz-linear-gradient(285deg, #001929 10%, #00569d 50%, #095ea2 40%);
      -webkit-border-image: -webkit-linear-gradient(285deg, #001929 10%, #00569d 50%, #095ea2 40%);
      border-image-slice: 1;
      transition: all 0.5s ease;
      font-family: MuseoSansCyrl100, sans-serif;

      @media (max-width: 1200px) {
       margin: 0 auto;
      }

      &:after {
        content: "";
        position: absolute;
        display: block;
        width: 404px;
        height: 52px;
        bottom: -25px;
        right: -405px;
        background: url(../../assets/img/line.png) no-repeat center center;
        background-size: cover;

        @media (max-width: 1200px) {
          display: none;
        }
      }

      &:hover {
        border-image: none;
        border: 1px solid #095ea2;
      }
    }
  }

}

